### OSX ###
.DS_Store
.AppleDouble
.LSOverride

.idea/

.project
.classpath

bin/

*.zip

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
